:root{
  --red : #f54e4e;
  --green : #4aec8c;
}

body{
  background-color: #760172;
  color: rgb(234, 234, 234);
}

main{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button{
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

button.with-text{
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 30px;
  padding: 5px 12px ;
}

button.with-text svg{
  width: 32px;
  float: left;
  margin-right: 8px;
}

label{
  font-size: 25px;
  display: block;
  margin: 20px 0 15px 0;
  text-transform: capitalize;
}